@use '../../sass/variables/colors';
@use '../../sass/variables/spacing';
@use '../../sass/mixins';

.header {
	display: flex;
	flex-direction: column;
	padding: 12px 24px 0;
	position: fixed;
	left: 0;
	top: 0;
	bottom: auto;
	right: 0;
	z-index: spacing.$z-index-header;

	.header_container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 12px;

		.add_movie_wrapper,
		.notifications_wrapper {
			display: none;
			visibility: hidden;
		}
		.user_profile {
			width: 36px;
			height: 36px;
			border-radius: 50%;
		}
	}

	@include mixins.media(desktop-m) {
		padding: 32px 8vw 0;

		.header_container {
			padding-bottom: 32px;

			.add_movie_wrapper,
			.notifications_wrapper {
				display: block;
				visibility: visible;
			}

			.liteflix_logo {
				order: 1;
				margin-right: 64px;
			}
			.add_movie_wrapper {
				order: 2;
				font-size: 18px;
			}
			.burger_wrapper {
				order: 3;
				margin-left: auto;
				margin-right: 40px;

				&.low_opacity {
					opacity: 0.2;
				}
			}
			.notifications_wrapper {
				order: 4;
				margin-right: 40px;
			}
			.user_profile {
				order: 5;
				width: 40px;
				height: 40px;
			}
		}
	}
}
