@use './variables/colors';
@use './mixins';

::selection {
	background-color: colors.$secondary;
	color: colors.$primary;
}

html {
	font-family: 'BebasNeue', sans-serif, monospace;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'BebasNeue', sans-serif, monospace;
	letter-spacing: 4px;
	@include mixins.custom-scrollbar($width: 4px);
}
