//400 - Regular
@font-face {
	font-family: 'BebasNeue';
	src: url('../assets/fonts/BebasNeue/BebasNeue-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}
//700 - Bold
@font-face {
	font-family: 'BebasNeue';
	src: url('../assets/fonts/BebasNeue/BebasNeue-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}
