@use '../../sass/variables/colors';
@use '../../sass/variables/spacing';
@use '../../sass/variables/animations';
@use '../../sass/mixins';

// animation-delay: #{animations.$animation-presentation-duration}ms;

.dashboard {
	display: flex;
	flex-direction: column;

	.image_wrapper {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		position: relative;

		img {
			min-height: 80vh;
			object-fit: cover;
			transform: scale(1.3);
			animation: reduce-scale 3000ms ease forwards;
			animation-delay: #{animations.$animation-presentation-duration}ms;

			@keyframes reduce-scale {
				to {
					transform: scale(1);
				}
			}
		}

		&::before {
			content: '';
			position: absolute;
			z-index: 0;
			bottom: 0;
			height: 40%;
			width: 100%;
			background: linear-gradient(180deg, transparent 0%, 20%, colors.$primary 90%);
		}
	}

	.dashboard_content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: -45vh;
		position: relative;

		.header {
			padding-inline: 32px;
			margin-bottom: 1rem;
			text-align: center;
			text-shadow: 0 0 4px colors.$primary;

			p {
				color: colors.$white;
				font-weight: 400;
				font-size: 20px;
				margin-bottom: 0.5rem;
				width: fit-content;
				opacity: 0;
				transform: translateX(-50%);

				animation: translate-x 1s ease forwards;
				animation-delay: #{animations.$animation-presentation-duration}ms;

				@keyframes translate-x {
					to {
						opacity: 1;
						transform: translateX(0);
					}
				}

				span {
					font-weight: 700;
				}
			}

			.title_container {
				min-height: 76px;
				position: relative;
				overflow: hidden;

				h1 {
					color: colors.$secondary;
					font-weight: 700;
					font-size: 76px;
					line-height: 100%;
					position: absolute;
					top: 100%;
					left: 0;
					animation: title-height 1s ease forwards;
					animation-delay: #{animations.$animation-presentation-duration}ms;

					@keyframes title-height {
						to {
							top: 0;
						}
					}
				}
			}

			.ctas_wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
				margin-bottom: 64px;
			}
		}

		.movies_list_wrapper {
			width: 100%;
		}
	}

	@include mixins.media(tablet) {
		.dashboard_content {
			.header {
				.ctas_wrapper {
					flex-direction: row;
					gap: 1.5rem;
				}
			}
		}
	}
	@include mixins.media(desktop-m) {
		max-height: 100vh;
		position: relative;
		overflow: hidden;

		.dashboard_content {
			flex-direction: row;
			padding: spacing.$header-height-desktop 8vw;
			position: absolute;
			inset: 0;
			margin: 0;

			.header {
				flex: 1;
				align-self: flex-end;
				text-align: left;
				padding: 0;
				margin-bottom: 5.5vh;

				p {
					padding-left: 4px;
				}
				.title_container {
					margin-bottom: 1rem;
					min-height: 120px;

					h1 {
						font-size: 120px;
						font-weight: 700;
						letter-spacing: 16px;
						text-align: left;
					}
				}

				.ctas_wrapper {
					margin-bottom: 0;
				}
			}

			.movies_list_wrapper {
				flex: 0.4;
				align-self: flex-start;
				height: calc(100vh - (spacing.$header-height-desktop * 2));

				opacity: 0;
				animation: fade-in 1s ease forwards;
				animation-delay: #{animations.$animation-presentation-duration}ms;

				@keyframes fade-in {
					to {
						opacity: 1;
					}
				}
			}
		}

		.image_wrapper {
			img {
				min-height: 100vh;
			}

			&::before {
				display: none;
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}
