@use '../../sass/variables/colors';

.add_movie_button {
	display: flex;
	align-items: flex-start;
	gap: 0.75rem;
	color: colors.$white;
	background-color: transparent;
	font-weight: 700;
	letter-spacing: 4px;
	border: none;
	padding: 4px 0;
	transition: 150ms all ease-in-out;
	text-shadow: 0 0 4px colors.$primary;
	cursor: pointer;

	svg {
		transition: 500ms all ease;
	}

	@media (hover: hover) {
		&:hover {
			color: colors.$secondary;

			svg {
				transform: rotate(90deg) scale(1.15);
				margin-right: 0.25rem;
			}
		}
	}
}
