@use '../../sass/variables/colors';
@use '../../sass/mixins';

.movie_card {
	$initial-content-transition-duration: 350;
	$initial-content-transition: #{$initial-content-transition-duration}ms all ease-in-out;
	$play-button-size-on-hover: 24px;

	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1rem;
	position: relative;
	overflow: hidden;
	background-color: colors.$primary;
	border-radius: 4px;
	isolation: isolate;
	cursor: default;

	.initial_content {
		flex: 1;
		display: flex;
		position: relative;

		.play_button {
			width: 40px;
			height: 40px;
			background-color: transparent;
			padding: 0;
			border: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: $initial-content-transition;
			pointer-events: none;

			svg {
				cursor: pointer;
			}
		}

		h2 {
			flex: 1;
			height: fit-content;
			align-self: flex-end;
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			color: colors.$white;
			line-height: 1;
			transition: $initial-content-transition;
		}
	}

	.onhover_content {
		display: flex;
		justify-content: space-between;
		color: colors.$white;
		font-size: 14px;
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		width: calc(100% - 2rem);
		opacity: 0;
		visibility: hidden;
		transition: $initial-content-transition;

		.rating {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		position: absolute;
		inset: 0;
		z-index: -1;
		transition: $initial-content-transition;
	}

	&:hover {
		.initial_content {
			.play_button {
				width: $play-button-size-on-hover;
				height: $play-button-size-on-hover;
				left: 0;
				transform: translate(0, -50%);
				pointer-events: all;

				svg:hover {
					circle {
						transition: 400ms all ease;
						fill: colors.$secondary;
						stroke: colors.$primary;
						fill-opacity: 1;
					}
					path {
						fill: colors.$primary;
						stroke: colors.$primary;
					}
				}
			}

			h2 {
				position: absolute;
				bottom: 50%;
				left: calc(12px + $play-button-size-on-hover);
				transform: translateY(50%);
			}
		}

		img {
			filter: brightness(50%);
		}

		.onhover_content {
			opacity: 1;
			visibility: visible;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
		height: 80%;
		width: 100%;
		background: linear-gradient(180deg, transparent 0%, rgba(colors.$primary, 0.8) 100%);
	}

	@include mixins.media(desktop-m) {
	}
}
