.button {
	border: solid 1px red;

	&.light_variant {
		color: black;
		background-color: white;
	}
	&.dark_variant {
		color: white;
		background-color: black;
	}
	&.transparent_variant {
		color: white;
		background-color: transparent;
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
