@use '../../sass/variables/colors';

.notifications_bell {
	background-color: transparent;
	padding: 0;
	border: none;
	transition: transform 150ms ease-in-out;
	position: relative;
	cursor: pointer;

	&::before {
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: colors.$secondary;
		position: absolute;
		top: 1px;
		right: 1px;
		display: none;
	}

	&.has_notifications::before {
		display: block;
	}

	&:hover {
		transform: scale(1.2);

		svg {
			fill: colors.$white;
		}
	}
}
