@use '../sass/colors';

.layout_wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: colors.$primary;

	.main_wrapper {
		flex: 1;
		background-color: yellowgreen;
		background-image: url('../assets/media/images/tokyo.jpg');
		background-size: cover;
		background-position: center;
	}
}
