@use '../sass/colors';
@use '../sass/mixins';

.layout_wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: colors.$primary;

	.main_wrapper {
		flex: 1;
		background-image: url('../assets/media/images/tokyo.jpg');
		background-size: cover;
		background-position: center;
		max-height: 100vh;
		overflow-y: auto;

		@include mixins.media(desktop-m) {
			max-height: unset;
		}
	}
}
